* {
    margin: 0;
    padding: 0;
}

html,body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#bierman-topology {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.white {
    color: white;
}

span.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.n-topology.n-topology-blue {
    background: #ffffff;
}

.n-topology-nav-setting-icon {
    display:none;
}


.md-dialog-container.ng-scope {
    z-index: 10000000;
}

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}

.md-subheader-inner {
    padding-left: 0 !important;
}

md-toolbar.white {
    color: #fff !important;
}

.add-channel md-input-container {
    margin: 0 !important;
}

.channel-info {
    padding: 10px 5px 10px 24px;
}

.channel-actions {
    padding: 10px 24px 10px 5px;
}

.menu-button {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.center-button-outer {
    text-align: center;
}

.center-button-inner {
    display: inline-block;
}

.fmask-result {
    padding-top: 15px;
}

.info-icon {
    color: #2196f3;
}

.toolbar {
    background: #000 !important;
}

.product-label {
    margin: auto 16px auto 10px;
    font-weight: bold;
}

/* Fix for conflicts with Angular Material */
.sweet-alert {
    z-index: 10000005 !important;
}

.sweet-overlay {
    z-index: 10000004 !important;
}

.path-item:hover {
    background: #d8e6f3;
    cursor: pointer;
}

/* No select */
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Floating */
.align-left {
    float: left;
}

.align-right{
    float: right;
}

.clear {
    clear: both;
}

.text-success, .text-error {
    font: normal 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #009b00;
}

.text-error {
    color: #9b0000;
}

.sidenav-border {
    border-left: solid #000 1px;
}

.button-enlarged {
    font-size: 16px;
    padding: 10px;
}







/* Modal window */
