<md-dialog aria-label="Channel Manager" flex="50" ng-cloak>
	<md-dialog-content>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>DIRECTV Channel Manager</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<i class="fa fa-close fa-2x" aria-label="Close dialog"></i>
				</md-button>
			</div>
		</md-toolbar>
		<!-- Add Channel Block -->
		<md-toolbar class="md-accent white">
			<div class="md-toolbar-tools">
				<h3>Add Channel</h3>
			</div>
		</md-toolbar>
		<md-content class="md-dialog-content">
			<form>
				<div layout="row" class="md-inline-form layout-column add-channel">
					<md-input-container>
						<label for="cm-add-channel-name">Channel name</label>
						<input ng-model="input.addChannel.name" id="cm-add-channel-name" required>
					</md-input-container>
					<md-input-container>
						<label for="cm-add-src-ip">Source IP</label>
						<input ng-model="input.addChannel.srcIP" id="cm-add-src-ip" required>
					</md-input-container>
					<md-input-container>
						<label for="cm-add-dest-group">Destination Group</label>
						<input ng-model="input.addChannel.destGroup" id="cm-add-dest-group" required>
					</md-input-container>
					<md-input-container>
						<label for="cm-add-subdomain">Subdomain</label>
						<input ng-model="input.addChannel.subdomain" id="cm-add-subdomain" required>
					</md-input-container>
				</div>
				<md-button ng-click="addChannel()" class="md-raised md-primary">
					Add
				</md-button>
			</form>
		</md-content>

		<!-- Manage Channels -->
		<md-toolbar class="md-accent white">
			<div class="md-toolbar-tools">
				<h3>Manage Channels</h3>
			</div>
		</md-toolbar>
		<div ng-show="dScope.channelData == null">
			<md-progress-linear md-mode="query"></md-progress-linear>
			<div class="bottom-block channel-info">
				<span>Loading available channels...</span>{{dScope.channelData}}
			</div>
		</div>
		<div ng-show="typeOf(dScope.channelData) == 'object'">
			<md-content>
				<div ng-show="dScope.channelData.length > 0">
					<md-list>
						<md-list-item class="md-3-line" ng-repeat="channel in dScope.channelData">
							<div class="md-list-item-text" layout="row">
								<!-- edit mode -->
								<div ng-show="edit.editing && edit.name == channel.name">
									<div layout="row">
										<div class="channel-info">
											<md-input-container>
												<label for="cm-edit-channel-name">Channel name</label>
												<input ng-model="dScope.channel.name" id="cm-edit-channel-name" required>
											</md-input-container>
											<md-input-container>
												<label for="cm-edit-src-ip">Source IP</label>
												<input ng-model="dScope.channel.srcIP" id="cm-edit-src-ip" required>
											</md-input-container>
											<md-input-container>
												<label for="cm-edit-dest-group">Destination Group</label>
												<input ng-model="dScope.channel.destGroup" id="cm-edit-dest-group" required>
											</md-input-container>
											<md-input-container>
												<label for="cm-edit-subdomain">Subdomain</label>
												<input ng-model="dScope.channel.subdomain" id="cm-edit-subdomain" required>
											</md-input-container>
										</div>
										<div class="channel-actions">
											<md-button ng-click="saveChannel(channel.name)" class="md-primary">
												Save
											</md-button>
											<md-button ng-click="closeEditor(channel.name)" class="md-primary">
												Cancel
											</md-button><br>
											<md-button ng-click="removeChannelWarning(channel.name)" class="md-warn">
												Remove
											</md-button>
										</div>
									</div>
								</div>
								<div ng-show="!edit.editing || edit.name != channel.name" class="w100 clear">
									<div class="channel-info align-left">
										<h3>{{channel.name}}</h3>
										<p><i class="fa fa-arrow-right"></i> {{channel['src-ip']}}</p>
										<p><i class="fa fa-users"></i> {{channel['dst-group']}}</p>
										<p><i class="fa fa-cloud" ></i> {{channel['sub-domain']}}</p>
									</div>
									<div class="channel-actions align-right">
										<md-button ng-click="editChannel(channel.name)" class="md-primary">
											Edit
										</md-button>
										<md-button ng-click="removeChannel(channel.name)" class="md-warn">
											Remove
										</md-button>
									</div>
								</div>
							</div>
							<md-divider ng-if="!$last"></md-divider>
						</md-list-item>
					</md-list>
				</div>
				<div ng-show="dScope.channelData.length == 0">
					<div class="channel-info">
						No channels defined so far.
					</div>
				</div>
			</md-content>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="cancel()" class="md-primary">
				Close
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
