<div class="panel-wrapper full-height">
	<!-- panel navigation -->
	<div class="panel-nav">
		<ul>
			<li><a href="#"  id="config-panel-opener" ng-click="openPanel('config')" title="Open configuration panel" class='noselect'><i class="fa fa-pencil-square-o fa-2x"></i></a></li>
			<li><a href="#"  id="node-panel-opener" ng-click="openPanel('node')" title="Open nodes panel" class='noselect'><i class="fa fa-dot-circle-o fa-2x"></i></a></li>
			<li><a href="#"  id="link-panel-opener" ng-click="openPanel('link')" title="Open links panel" class='noselect'><i class="fa fa-link fa-2x"></i></a></li>
			<li><a href="#"  id="path-panel-opener" ng-click="openPanel('path')" title="Open paths panel" class='noselect'><i class="fa fa-arrows fa-2x"></i></a></li></ul>
	</div>
	<!-- panel content -->
	<div id="side-panel" class="panel full-height">
		<div class="full-height" style="width: 405px">
			<div class="full-size">
				<div ng-show="appConfig.currentPanel == 'config'" class="full-size">
					<h2>Path Manager</h2>
					<b>Manual only</b><br><br>
					<button ng-click="computeMask()" class="awesome-button"><i class="fa fa-check"></i> Validate and compute mask</button><br><br>
					<div ng-show="currentTree.validStatus == 'valid'">
						<div class="text-success">
							FMASK: {{currentTree.fmask}}<br><br>
						</div>
					</div>
					<div ng-show="currentTree.validStatus == 'invalid'">
						<div class="text-error">
							FMASK has not been computed<br><br>
						</div>
					</div>
					<div ng-show="currentTree.validStatus == 'inprogress'">
						<div class="text-success">
							<i class="fa fa-refresh fa-spin"></i> Calculating FMASK...<br><br>
						</div>
					</div>
					<label for="flows">Assign Channels:</label><br>
					<select id="flows">
						<optgroup label="Channels">
							<option>Comedy Central</option>
							<option>Spike</option>
							<option>FOX</option>
						</optgroup>
					</select><br><br>
					<button class="awesome-button" id="deploy-button" disabled="disabled"><i class="fa fa-rocket"></i> Deploy</button> &nbsp;
					<button class="awesome-button awesome-button-red" ng-click="clearTopology()"><i class="fa fa-times"></i> Clear tree</button><br><br>
				</div>
				<div ng-show="appConfig.currentPanel == 'node'" class="full-size">
					<h2>Node Panel</h2>
					Under construction
				</div>
				<div ng-show="appConfig.currentPanel == 'link'" class="full-size">
					<h2>Link Panel</h2>
					Under construction
				</div>
				<div ng-show="appConfig.currentPanel == 'path'" class="full-size">
					<h2>Path Panel</h2>
					Under construction
				</div>
			</div>
		</div>
	</div>
</div>