* {
    padding: 0;
    margin: 0;
}

.topology-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

/* Panel's settings */
.panel-wrapper {
    position: absolute;
    display: inline;
    height: 100%;
    right: 0;
    background: #f5f5f5;
    border-left: 1px solid #e4e6e9;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.panel-nav {
    position: relative;
    float: left;
    margin: 0 0 0 -45px;
    border-radius: 0;
    /*z-index: 10;*/
}

.panel-nav ul {
    list-style: none;
    padding: 5px 0 0 0;
    margin: 0;
}

.panel-nav li {
    padding: 5px 0;
}

#side-panel {
    position: relative;
    width: 400px;
    height: 97.5%;
    padding: 10px;
    margin-right: -400px;
    z-index: 2;
}

#side-panel h3 {
    color: #000;
    margin-top: 0;
}

.panel-title {
    color: #000;
}

td {
    width: 300px;
    margin: 2px 2px 2px 2px;
    padding: 1px 1px 1px 1px;
}

.table-hover{
    background-color:#333333;
}
.table-striped > tbody > tr:nth-child(odd) > td{
    background-color:black;
}

.table-hover > tbody > tr:hover > td {
    background-color: rgb(255, 194, 0);
    color:black;
}

.panel-item {
    display: block;
    border-left: 5px solid grey;
    margin: 5px 0;
    padding: 5px;
    color: #464646;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.panel-item:hover {
    border-left: 5px solid #1baafd;
    cursor: pointer;
}

.panel-item.selected {
    border-left: 5px solid #1baafd;
    background: #fefefe;
    cursor: auto;
    margin-right: 10px;
}

.panel-item.selected span.title {
    font-weight: bold;
    color: #1baafd;
}

.panel-item-more-info {
    font-weight: normal;
    border-left: 5px solid grey;
    background: #fefefe;
    margin-right: 10px;
    margin-top: -5px;
    padding: 10px;
}

.panel-item-more-info.selected {
    border-color: #1baafd;
}

table.niceTable {
    border: none !important;
}

table.niceTable thead, table.niceTable th {
    border-bottom: 1px dotted #b4b4b4 !important;
}

table.niceTable tbody tr td.title {
    font-weight: bold;
    color: #1baafd;
}

table.niceTable th {
    font-weight: bold;
}

.panel-item-static {
    font-weight: normal;
    background:  #1baafd;
    margin-right: 30px;
    margin-top: -5px;
    padding: 10px;
    color: #ffffff;
}

.panel-item-static.selected {
    border-left: 5px solid #1baafd;
    background: #fefefe;
    cursor: auto;
    margin-right: 30px;
}

.panel-item-static-title {
    font-weight: bold;
    color: #ffffff;
}

.panel-item-back-icon {
    float: left;
    font-size: 18px;
    cursor: pointer;
    margin-right: 10px;
    line-height: 100%;
}



i {
    cursor: pointer;
}

i.disabled {
    cursor: default;
    opacity: 0.5;
}

.panel-group {
    /*height: calc(100% - 81px);*/
    overflow-y: auto;
    width:95%;
}

div.full-height {
    height: 100%;
}

div.full-size {
    height: 100%;
    width: 100%;
}

.height-10 {
    height: calc(100% - 10px);
}

.height-25 {
    height: calc(100% - 25px);
}

.height-120 {
    height: calc(100% - 120px);
}

.height-180 {
    height: calc(100% - 180px);
}

.height-200 {
    height: calc(100% - 200px);
}

.gray-text {
    color: #777;
}

.policy-panel {
    height: inherit !important;
}