<div class="panel-wrapper full-height">
	<!-- panel navigation -->
	<div class="panel-nav">
		<ul>
			<li><a href="#"  id="node-panel-opener" title="Open nodes panel" class='noselect'><i class="fa fa-dot-circle-o fa-2x"></i></a></li>
			<li><a href="#"  id="link-panel-opener" title="Open links panel" class='noselect'><i class="fa fa-link fa-2x"></i></a></li>
			<li><a href="#"  id="policy-panel-opener" title="Open policy panel" class='noselect'><i class="fa fa-file-text-o fa-2x"></i></a></li>
		</ul>
	</div>
	<!-- panel content -->
	<div id="side-panel" class="full-height">
		<div class="full-height" style="width: 405px">
			<div class="full-size">
				<div ng-show="true" class="full-size">
					<div class="full-size">stuff</div>
				</div>
			</div>
		</div>
	</div>
</div>