<!DOCTYPE html>
<html ng-app="biermanApp">
<head>
	<title>BIER Manager</title>
	<link rel="stylesheet" href="lib/next-ui/css/next.css">
	<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="bower_components/sweetalert/dist/sweetalert.css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/loading.css">
	<!-- Loading libraries -->
	<script type="application/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="application/javascript" src="lib/next-ui/js/next.js"></script>
	<script type="application/javascript" src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
	<script type="application/javascript" src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-material/angular-material.min.js"></script>
	<script src="bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="bower_components/angular-aria/angular-aria.min.js"></script>
	<script src="lib/tools.js"></script>
</head>
<body>
	<!--<div ng-controller="biermanCtrl" class="app-wrapper h100">-->
		<!--<div ng-show="appConfig.mode == 'init'" ng-hide="appConfig.mode != 'init'">-->
			<!--<div class="loading">Loading&#8230;</div>-->
		<!--</div>-->
		<!--<div layout="row" class="h100" flex>-->
			<!--<section flex layout='column' class="h100">-->
				<!--<md-toolbar class="toolbar">-->
					<!--<div class="md-toolbar-tools white float-left">-->
						<!--<span class="product-label"><img src="assets/images/directv.png" alt="DIRECTV logo"></span>-->
						<!--<span flex></span>-->
						<!--<md-button class="md-primary menu-button" ng-click="openChannelManager()"><i class="fa fa-tv"></i> Channel Manager</md-button>-->
						<!--<md-button class="md-primary menu-button" ng-click="openRightPanel('path-manager')"><i class="fa fa-arrows"></i> Path Manager</md-button>-->
						<!--<md-button class="md-primary menu-button" ng-click="openRightPanel('topology-manager')"><i class="fa fa-cubes"></i> Topology Manager</md-button>-->
					<!--</div>-->
				<!--</md-toolbar>-->
				<!--<div class="h100">-->
					<!--<section layout="row" class="h100">-->
						<!--<bierman-topology id="bierman-topology" topo="topo" open-panel="openPanel" process-bier-tree-data="processBierTreeData" reset-topology="resetTopology" convert-uni-to-bi-links="convertUniToBiLinks" highlight-path="highlightPath"></bierman-topology>-->
					<!--</section>-->
				<!--</div>-->
			<!--</section>-->
			<!--<slideout-right layout="column"></slideout-right>-->
		<!--</div>-->
	<!--</div>-->


	<div ng-controller="biermanCtrl" class="app-wrapper h100">
		<div ng-show="appConfig.mode == 'init'" ng-hide="appConfig.mode != 'init'">
			<div class="loading">Loading&#8230;</div>
		</div>
		<div layout="row" class="h100" flex>
			<section flex layout='column' class="h100">
				<md-toolbar class="toolbar">
					<div class="md-toolbar-tools white float-left">
						<span class="product-label"><i class="fa fa-beer"></i> BIERMAN</span>
						<md-button class="md-primary menu-button" ng-click="openChannelManager()"><i class="fa fa-tv"></i> Channel Manager</md-button>
						<md-button class="md-primary menu-button" ng-click="openRightPanel('path-manager')"><i class="fa fa-arrows"></i> Path Manager</md-button>
						<md-button class="md-primary menu-button" ng-click="openRightPanel('topology-manager')"><i class="fa fa-cubes"></i> Topology Manager</md-button>
					</div>
				</md-toolbar>
				<div class="h100">
					<section layout="row" class="h100">
						<bierman-topology id="bierman-topology" topo="topo" open-panel="openPanel" process-bier-tree-data="processBierTreeData" reset-topology="resetTopology" convert-uni-to-bi-links="convertUniToBiLinks" highlight-path="highlightPath"></bierman-topology>
						<slideout-right layout="column"></slideout-right>
					</section>
				</div>
			</section>
		</div>
	</div>

	<script type="application/javascript" src="app/bierman.module.js"></script>
	<script type="application/javascript" src="app/restapi.service.js"></script>
	<script type="application/javascript" src="app/bierman.controller.js"></script>
	<script type="application/javascript" src="app/directives/topology.directive.js"></script>
</body>
</html>